.main-register-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: white;
    width: 600px;
    height: 500px;
    border: solid 2px white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

  .main {
    border: solid 2px white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .form-control{
    height: 30px;
    width: 100px;
    padding-left: 5px;
    border-color: #6A7DE1;
    border: none;
    border: 2px #6A7DE1  solid;
    border-radius: 10px;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
  }
  .signup {
    color: #6a7de1;
    font-family: Montserrat;
    font-weight: 500px;
  }
  
  .gender {
    margin-top: -5%;
    height: 35px;
    border-color: #6a7de1;
    border: 2px #6a7de1 solid;
    border-radius: 10px;
    width: 510px;
    color: black;
  }
  .password {
    margin-top: 3%;
  }
  .formcheck{
    color: rgb(51, 49, 49);
    font-size: 10px;
    margin-right: 5%;
    
  }
  form{
    padding-bottom: 3%;
  }
  .email {
    margin-top: 3%;
  }
  .confirm_password {
    margin-top: 3%;
  }
  button {
    height: 35px;
    margin-top: 5%;
    width: 150px;
    background-color: #6a7de1;
    height: 37px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 10px;
  }
  /* height: "35px",
    marginTop: "5%",
    width: "315px",
    backgroundColor: "#6a7de1",
    height: "37px",
    border: "none",
    borderRadius: "50px",
    color: "#ffffff",  
    fontSize: "15px" */
  .signUp {
    display: flex;
  }
  .signup {
    margin-top: -3%;
  }
  .form {
    background-color: white;
    /* padding-right: 50%; */
  }
  .continer{
  /* border: green; */
  border:  2px #6a7de1 solid;
  border-radius: 8px;
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  }
  .main-container {
    margin-left: auto;
    margin-right: auto;
    border: solid white 2px;
    height: 150%;
    width: 310px;
    border-radius: 12px;
    margin-top: 5%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
   
  .form-control {
    margin-top: 2%;
  }
  .first-control{
  color: red;
  
  }
  .names {
      display: flex;
      margin-left: 33px;
    }
    .account{
      color: black;
      margin-left: auto;
      margin-right: auto;
    }
  
    @media only screen and (max-width: 320px) {

      .main-register-container{
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        background-color: white;
        width: 300px;
        height: 500px;
        border: solid 2px white;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
      
      .gender {
        margin-top: -5%;
        height: 35px;
        border-color: #6a7de1;
        border: 2px #6a7de1 solid;
        border-radius: 10px;
        width: 510px;
        color: black;
      }
      .password {
        margin-top: 3%;
      }
      .formcheck{
        color: rgb(51, 49, 49);
        font-size: 10px;
        margin-right: 5%;
        
      }
      form{
        padding-bottom: 3%;
      }
      .email {
        margin-top: 3%;
      }
      .confirm_password {
        margin-top: 3%;
      }
    .account {
      margin-left: -20px;
      font-size: 10px;
      margin-top: 20px;
    }
    }
