.footer{
  width: 100%;
  width: 1024px;
  font-size: 12px;
}

.fLists{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fList{
  list-style: none;
  padding: 0;
}

.fListItem{
  margin-bottom: 10px;
  color: #4F7942;
  cursor: pointer;
}

@media only screen and (max-width: 320px) {
  .footer{
    /* width: 100%; */
    width: 310px;
    font-size: 5px;
    /* border: solid; */
    

  }
  
  .fLists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 10px;
    margin-right: 5%;

  }
  
  .fList{
    list-style: none;
    padding: 0;
    font-size: 10px;

   
  }
  
  .fListItem{
    margin-bottom: 10px;
    color: #4F7942;
    cursor: pointer;
    font-size: 5px;
    /* border: solid; */
  }
}